body, html {
    height: 100%;
    font-family: 'Bree Serif', serif;
  }
  
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("img/nav-back.jpg");
    min-height: 75%;
  }

.w3-top > .w3-row > .w3-col {
  width: 20%;
}



.menu {
    display: none;
  }

#menu > .w3-content {
    max-width:700px;
 }
 
#menu > .w3-content > img {
    width:100%;max-width:1000px;margin-top:32px;
 }

 #menu > .w3-content > .w3-container > .w3-tag {
   float: right;
   text-align: left;
   font-size: .8em;
 }

 #menu > .w3-content > .w3-container > .h5-inline {
   display: inline;
 }

 #menu > .w3-content > .w3-container > .h5-inline {
  display: inline;
}


#home > .w3-display-bottomleft > span {
    text-align: left;
}

#home > .w3-display-middle > a > img {
    min-width: 70%;
    max-width: 70%;
}


#about > .w3-content {
    max-width:700px;
}

#about > .w3-content > .w3-margin-top {
    width:100%; 
    max-width:1000px;
}


#contact {
    padding-bottom:32px;
}

#contact > .w3-content {
    max-width:700px;
}

#contac > .w3-image {
   width:100%;
}

footer > a > img {
  max-width: 15%;
}

footer > .sns {
    font-size: 2.5em;
}




#gallery > .w3-content > .row > .column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
#gallery > .w3-content > .row > .column img {
  opacity: 0.8; 
  cursor: pointer; 
  width:100%;
}

#gallery > .w3-content > .row > .column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
#gallery > .w3-content > .row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
#gallery > .w3-content > .container {
  position: relative;
  display: none;
}


/* Expanding image text */
#gallery > .w3-content > .container > #imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 25px;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 10px solid black; */
}

/* Closable button inside the expanded image */
#gallery > .w3-content > .container > .closebtn {
  position: absolute;
  right: 15px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}
/* .w3-center > a {
  width:10px;
} */

/* 
footer > img > a {
  max-width:70%;
} */